name: Check ENV

on:
  push:
    branches: [action_env_test]

jobs:
  check-env:
    runs-on: ubuntu-latest
    env:
      JOB_ENV: this is env on job level
      JOB_ENV_RUN_ID: ${{ github.run_id }}
    steps:
      - uses: actions/checkout@v2

      - name: Modify job env
        env:
          JOB_ENV: modified by step
        run: echo "done"

      - name: Print env
        env:
          STEP_ENV: this is env on step level
        run: |
          echo =====
          echo '$STEP_ENV=' $STEP_ENV
          echo 'env.STEP_ENV=' ${{ env.STEP_ENV }}
          echo =====
          echo '$JOB_ENV=' $JOB_ENV
          echo 'env.JOB_ENV=' ${{ env.JOB_ENV }}
          echo =====
          echo '$JOB_ENV_RUN_ID=' $JOB_ENV_RUN_ID
          echo 'env.JOB_ENV_RUN_ID=' ${{ env.JOB_ENV_RUN_ID }}

      - name: Set workflow env
        run: |
          echo "WORKFLOW_ENV_FROM_FIRST_JOB=okkkk" >> $GITHUB_ENV

  check-env-2:
    runs-on: ubuntu-latest
    needs: [check-env]
    steps:
      - uses: actions/checkout@v2

      - name: Print workflow env
        run: |
          echo =====
          echo '$WORKFLOW_ENV_FROM_FIRST_JOB=' $WORKFLOW_ENV_FROM_FIRST_JOB
